body
{
background-color: #ffffff;
}

.navbar
{
    background-color: rgb(95, 95, 141);
    list-style-type:none ;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-left: 600px;
}
li{
    float: left;
}
li a{
    padding: 20px 20px 20px 20px;
    color: whitesmoke;
    display: block;

}
li a:hover
{
    background-color: rgb(66, 168, 185);
}


.navbar1 {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 1450px;
  }
  

  .navbar1 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
 
  .navbar1 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .navbar1 a:active {
    background-color: #04AA6D;
    color: white;
  }
#s{
float:right;
}